<a href="https://colab.research.google.com/github/Elhai12/SBA_loans_predict/blob/main/Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install geopy

Requirement already satisfied: geopy in /usr/local/lib/python3.11/dist-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in /usr/local/lib/python3.11/dist-packages (from geopy) (2.0)

In [1]:
!git clone https://github.com/Elhai12/SBA_loans_predict.git

Cloning into 'SBA_loans_predict'...
remote: Enumerating objects: 31, done.
remote: Counting objects: 100% (31/31), done.
remote: Compressing objects: 100% (29/29), done.
remote: Total 31 (delta 11), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (31/31), 4.55 MiB | 4.31 MiB/s, done.
Resolving deltas: 100% (11/11), done.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
import re
warnings.filterwarnings('ignore')
from geopy.geocoders import Nominatim
import time

In [3]:
df_filter = pd.read_csv('/content/SBA_loans_predict/sba_loans_filtered')
df_filter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41212 entries, 0 to 41211
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   LoanNr_ChkDgt      41212 non-null  int64
 1   Name               41212 non-null  object
 2   City               41212 non-null  object
 3   State              41212 non-null  object
 4   Zip                41212 non-null  int64
 5   Bank               41159 non-null  object
 6   BankState          41159 non-null  object
 7   NAICS              41212 non-null  int64
 8   ApprovalDate       41212 non-null  object
 9   ApprovalFY         41212 non-null  int64
 10  Term               41212 non-null  int64
 11  NoEmp              41212 non-null  int64
 12  NewExist           41207 non-null  float64
 13  CreateJob          41212 non-null  int64
 14  RetainedJob        41212 non-null  int64
 15  FranchiseCode      41212 non-null  int64
 16  UrbanRural         41212 non-null  int64
 17  RevLineCr          41027 non-null  object
 18  LowDoc             41078 non-null  object
 19  ChgOffDate         11683 non-null  object
 20  DisbursementDate   41060 non-null  object
 21  DisbursementGross  41212 non-null  object
 22  BalanceGross       41212 non-null  object
 23  MIS_Status         41192 non-null  object
 24  ChgOffPrinGr       41212 non-null  object
 25  GrAppv             41212 non-null  object
 26  SBA_Appv           41212 non-null  object
dtypes: float64(1), int64(10), object(16)
memory usage: 8.5+ MB

In [4]:
df_filter['Sector'] = df_filter['NAICS'].astype(str).str[:2]

In [5]:
def assign_region(zip_code):
    if 32000 <= zip_code <= 32139:
        return 'North Florida'
    elif 32140 <= zip_code <= 32799:
        return 'Central Florida'
    elif 32800 <= zip_code <= 32999:
        return 'East Florida'
    elif 33000 <= zip_code <= 34999:
        return 'South Florida'
    elif 35000 <= zip_code <= 36999:
        return 'West Florida'
    else:
        return 'Unknown'


df_filter['Region'] = df_filter['Zip'].astype(int).apply(assign_region)

In [6]:
geolocator = Nominatim(user_agent="Nominatim")
def get_address(zip_code):
  addr = geolocator.geocode({"postalcode": zip_code},country_codes='Florida', language="en",timeout=20)
  if addr is not None:
    if 'Florida' in addr.address:
      match = re.search(r'\b\w+\s+county\b', addr.address, re.IGNORECASE)
      region = match.group(0) if match else None
      latitude,longitude = addr.latitude, addr.longitude
      return [region,latitude,longitude]
  return  [None,None,None]

In [7]:
list_zip = df_filter['Zip'].unique().tolist()
# df_zip = pd.DataFrame(list_zip,columns=['Zip'])

In [ ]:
# list_code_reg = []
# for code in list_zip:
#    list_code_reg.append({'Zip':code,'Region':get_address(code)[0]})
#    print(get_address(code)[0])
#    time.sleep(2)

None
None
None
None
Dade County
None
None
None
None
None
Nassau County
Orange County
None
Duval County
None
None
Lee County
None
Pinellas County
None
None
Dade County
Broward County
Dade County
Dade County
None
None
None
None
Broward County
Duval County
None
None
Pinellas County
None
Hillsborough County
None
None
None
Monroe County
None
None
None
Beach County
Dade County
None
Lucie County
None
Pinellas County
None
None
Charlotte County
None
None
Broward County
Manatee County
None
None
Dade County
Dade County
None
None
None
Dade County
None
None
None
Broward County
Lucie County
None
None
None
None
Pinellas County
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
Broward County
None
Lee County
Dade County
Hillsborough County
None
None
Pinellas County
Volusia County
Broward County
Pinellas County
None
None
None
Dade County
Beach County
None
None
None
Pinellas County
None
Pinellas County
None
None
None
None
Beach County
Dade County
Beach County
None
None
None
None
Lake County
None
Broward County
Polk County
Dade County
None
Duval County
Beach County
None
None
Beach County
None
Orange County
None
None
Broward County
None
None
None
Lee County
Pinellas County
Leon County
None
None
Pinellas County
None
None
Hillsborough County
None
None
Beach County
Lee County
None
None
None
Orange County
None
Broward County
None
None
None
None
Seminole County
Brevard County
None
Beach County
None
None
None
Volusia County
Broward County
None
Polk County
None
None
None
None
Broward County
Dade County
Pinellas County
None
Orange County
None
None
None
None
None
None
None
Beach County
None
Orange County
None
Seminole County
None
None
None
Beach County
Leon County
None
Beach County
None
Broward County
Broward County
Beach County
None
Dade County
None
None
Broward County
None
None
None
Volusia County
Pinellas County
Beach County
Beach County
Broward County
Brevard County
None
Pinellas County
Broward County
Johns County
None
None
None
Pasco County
None
Broward County
Sarasota County
Pinellas County
Dade County
None
None
None
None
None
Lee County
None
Beach County
None
None
None
None
Alachua County
Hillsborough County
Orange County
None
None
None
Lee County
None
Orange County
None
Broward County
Martin County
None
None
Pinellas County
None
None
Bay County
None
None
Seminole County
None
Dade County
None
Hillsborough County
Pasco County
None
None
None
Dade County
None
None
None
None
Johns County
None
Putnam County
None
Beach County
None
None
None
None
None
Volusia County
Volusia County
None
None
Manatee County
Orange County
None
Lee County
None
Orange County
None
None
None
None
None
None
Orange County
None
Dade County
None
Okeechobee County
None
None
None
None
Pinellas County
Beach County
None
Brevard County
None
None
None
None
None
Pinellas County
Polk County
None
None
Lee County
Collier County
Beach County
None
None
Broward County
None
Pasco County
Pinellas County
Hillsborough County
Clay County
None
None
Sarasota County
None
None
None
Lucie County
None
None
None
None
None
None
None
Beach County
None
None
Volusia County
None
Lee County
None
Pasco County
Collier County
None
None
Hernando County
Beach County
None
Charlotte County
Okaloosa County
None
Lucie County
Collier County
None
Lee County
None
Brevard County
Broward County
Citrus County
None
None
None
None
None
Lee County
Lake County
Lee County
Lake County
Polk County
Orange County
None
None
None
None
Lucie County
Beach County
None
None
None
Alachua County
Lee County
Beach County
None
Highlands County
None
None
Lee County
Pinellas County
None
None
None
None
None
Madison County
None
Johns County
River County
None
Dade County
Beach County
None
Hillsborough County
Pinellas County
None
Volusia County
None
None
Lee County
None
Charlotte County
None
None
None
Charlotte County
None
None
None
Sarasota County
Volusia County
None
Pinellas County
Brevard County
None
None
None
None
None
None
Polk County
Pinellas County
None
None
Escambia County
None
None
Volusia County
None
None
None
None
None
None
None
None
None
None
Putnam County
None
Escambia County
River County
Hillsborough County
None
None
None
Seminole County
None
None
None
Sarasota County
None
Broward County
None
None
None
Pinellas County
Beach County
None
None
Citrus County
Lee County
Pinellas County
None
None
None
Sarasota County
None
None
None
None
None
None
None
Hendry County
Volusia County
None
None
None
None
Johns County
None
Hillsborough County
None
Duval County
None
None
None
Hillsborough County
None
Wakulla County
None
None
None
Brevard County
Orange County
None
None
None
Bay County
None
None
None
Duval County
None
Okaloosa County
Lucie County
None
None
None
None
None
None
Beach County
None
None
Pinellas County
None
None
Hillsborough County
Brevard County
River County
None
None
None
None
None
None
Brevard County
None
River County
Lake County
Polk County
None
Okaloosa County
None
None
None
None
None
None
None
None
None
None
Charlotte County
None
Martin County
Marion County
None
Okeechobee County
None
None
None
Escambia County
None
None
Marion County
None
None
Martin County
Marion County
None
None
None
Rosa County
None
Brevard County
None
None
None
None
None
Charlotte County
Polk County
None
Pinellas County
None
None
None
Pasco County
Polk County
None
None
None
Brevard County
None
None
Hernando County
None
None
Rosa County
None
None
Hillsborough County
None
Sumter County
None
Orange County
None
None
Polk County
None
Hillsborough County
Pasco County
None
Marion County
Osceola County
None
None
None
Lee County
Bay County
None
River County
None
Lake County
None
None
None
None
None
None
Pasco County
Sumter County
None
None
None
None
None
None
None
Lucie County
Polk County
None
None
Lee County
None
None
Duval County
None
None
Escambia County
None
Seminole County
None
Charlotte County
None
None
None
River County
None
Alachua County
None
None
None
None
None
None
None
None
None
None
None
None
None
None
Okaloosa County
Brevard County
Hillsborough County
None
None
None
Polk County
Hillsborough County
None
None
None
None
Marion County
None
None
Pinellas County
None
Duval County
None
None
None
Lake County
None
Pinellas County
None
None
Putnam County
None
Walton County
None
Lucie County
None
None
None
None
None
None
Orange County
None
None
None
Brevard County
None
None
Escambia County
None
None
None
Marion County
None
None
None
None
None
Taylor County
None
None
None
Lucie County
Leon County
None
None
None
None
Pasco County
None
None
Suwannee County
None
Orange County
None
None
None
None
None
None
None
Charlotte County
None
None
None
Alachua County
None
None
None
None
None
None
None
None
None
None
Glades County
Hillsborough County
None
None
Lee County
None
None
Madison County
Broward County
Sarasota County
Hillsborough County
Sarasota County
None
None
None
Rosa County
Alachua County
None
None
None
None
None
None
None
None
None
Orange County
Lucie County
None
None
None
None
None
Lee County
None
None
None
None
None
None
None
None
Escambia County
None
None
Franklin County
None
None
None
None
None
None
Citrus County
None
River County
None
None
Marion County
None
Brevard County
None
Pasco County
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
Polk County
None
None
None
Hillsborough County
None
None
None
None
Putnam County
None
None
None
Beach County
Broward County
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
Brevard County
Lake County
None
None
None
None
None
Lee County
None
None
None
None
None
Marion County
None
None
None
None
None
None
None
None
Lee County
None
Lucie County
None
None
None
None
Duval County
None
None
None
None
None
None
None
None
None
Polk County
None
None
None
None
Putnam County
None
None
None
None
Beach County
Charlotte County
None
None
None
None
None
None
Johns County
Charlotte County
None
Bay County
River County
Lee County
None
Gadsden County
None
None
Beach County
None
None
None
None
None
Beach County
None
None
None
Johns County
None
None
None
None
None
Brevard County
None
None
Dixie County
None
None
None
None
None
None
None
None
None
Okaloosa County
None
None
None
Lee County
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
Volusia County
Sumter County
None
None
None
None
None
None
Lee County
None
None
None
None
None
Rosa County
None
None
None
None
None
None
None
Escambia County
None
Polk County
None
None
None
None
None
None
Sarasota County
None
None
None
Orange County
None
None
None
Orange County
None
None
None
None
Sarasota County
None
None
None
None
None
None
None
None
None
None
None
None
None
Sarasota County
None
None
None
None
Collier County
None
None
Volusia County
None
Orange County
None
None
None
None
Volusia County
None
None
None
None
None
None
Highlands County
None
None
None
None
None
Pasco County
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
DeSoto County
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
Taylor County
None
Martin County
Marion County
None
None
None
Polk County
Seminole County
Broward County
None
None
None
None
None
None
Pasco County
Duval County
None
None
Levy County
None
None
None
None
None
None
Alachua County
None
Orange County
None
None
None
None
Beach County
None
None
None
None
None
None
None
None
None
None
None
Polk County
None
None
None
None
None
Manatee County
None
None
None
None
None
None
None
Walton County
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
Brevard County
None
None
None
None
River County
None
None
None
None
Lake County
None
None
None
None
None
None
Putnam County
None
None
Columbia County
None
None
None
None
None
None
None
Suwannee County
None
None
None
None
None
None
None
None
None
None
None
None
None
Lake County
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
Dade County
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
Orange County
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None

In [8]:
# df_zip = pd.DataFrame(list_code_reg)
# df_zip.to_csv("zip_region",index=False)
df_zip = pd.read_csv('/content/SBA_loans_predict/zip_region')

In [10]:
df_zip['Region'].isna().sum()

393

In [ ]:
df_zip['Region'].unique().tolist()

[None,
 'Dade County',
 'Nassau County',
 'Orange County',
 'Duval County',
 'Lee County',
 'Pinellas County',
 'Broward County',
 'Hillsborough County',
 'Monroe County',
 'Beach County',
 'Lucie County',
 'Charlotte County',
 'Manatee County',
 'Volusia County',
 'Lake County',
 'Polk County',
 'Leon County',
 'Seminole County',
 'Brevard County',
 'Johns County',
 'Pasco County',
 'Sarasota County',
 'Alachua County',
 'Martin County',
 'Bay County',
 'Putnam County',
 'Okeechobee County',
 'Collier County',
 'Clay County',
 'Hernando County',
 'Okaloosa County',
 'Citrus County',
 'Highlands County',
 'Madison County',
 'River County',
 'Escambia County',
 'Hendry County',
 'Wakulla County',
 'Marion County',
 'Rosa County',
 'Sumter County',
 'Osceola County']

In [9]:
df_merge = pd.merge(df_filter,df_zip,on='Zip',how='left')
df_merge

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv,Sector,Region_x,Region_y
0,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,...,14-May-97,"$229,000.00",$0.00,P I F,$0.00,"$229,000.00","$229,000.00",0,East Florida,NaN
1,1000094005,WEAVER PRODUCTS,SUMMERFIELD,FL,34491,REGIONS BANK,AL,811118,28-Feb-97,1997,...,30-Jun-98,"$45,000.00",$0.00,P I F,$0.00,"$45,000.00","$36,000.00",81,South Florida,NaN
2,1000104006,TURTLE BEACH INN,PORT SAINT JOE,FL,32456,CENTENNIAL BANK,FL,721310,28-Feb-97,1997,...,31-Jul-97,"$305,000.00",$0.00,P I F,$0.00,"$305,000.00","$228,750.00",72,Central Florida,NaN
3,1000344008,"YOUNG ACHIEVERS PRESCHOOL, INC",CORAL SPRINGS,FL,33065,BANESCO USA,FL,624410,28-Feb-97,1997,...,31-Aug-97,"$70,000.00",$0.00,P I F,$0.00,"$70,000.00","$56,000.00",62,South Florida,NaN
4,1000516003,CHICAGO BRICK UNLIMITED INC,MIAMI,FL,33186,"CITIBANK, N.A.",FL,238140,7-Feb-06,2006,...,28-Feb-06,"$51,440.00",$0.00,P I F,$0.00,"$35,000.00","$17,500.00",23,South Florida,Dade County
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41207,9987683002,HAULERS 484,JACKSONVILLE,FL,32226,CENTERSTATE BK OF FLORIDA NATL,FL,0,25-Feb-97,1997,...,31-Aug-97,"$95,000.00",$0.00,P I F,$0.00,"$95,000.00","$76,000.00",0,Central Florida,NaN
41208,9987693005,WINGS-N-THINGS,LAKE CITY,FL,32025,"TD BANK, NATIONAL ASSOCIATION",FL,0,25-Feb-97,1997,...,31-Mar-97,"$20,000.00",$0.00,P I F,$0.00,"$20,000.00","$16,000.00",0,North Florida,NaN
41209,9989323003,THE LOOP RESTAURANT,TAMPA,FL,33688,REGIONS BANK,AL,0,26-Feb-97,1997,...,31-Mar-98,"$145,000.00",$0.00,P I F,$0.00,"$145,000.00","$108,750.00",0,South Florida,NaN
41210,9989553002,DESIGNERS CHOICE CABINETRY,ROCKLEDGE,FL,32955,WELLS FARGO BANK NATL ASSOC,SD,337110,26-Feb-97,1997,...,31-Mar-97,"$625,000.00",$0.00,P I F,$0.00,"$625,000.00","$468,750.00",33,East Florida,NaN
41211,9990803002,"J. & J. BAKER ENTERPRISES, INC",PUNTA GORDA,FL,33951,BRANCH BK. & TR CO,NC,0,26-Feb-97,1997,...,30-Apr-97,"$1,000,000.00",$0.00,P I F,$0.00,"$1,000,000.00","$750,000.00",0,South Florida,NaN

In [11]:
df_zip['Region'].value_counts()

Region
Pinellas County        26
Beach County           25
Broward County         21
Dade County            19
Lee County             17
Orange County          13
Hillsborough County    13
Volusia County         10
Brevard County         10
Polk County             9
Pasco County            6
Lucie County            6
Charlotte County        6
Sarasota County         5
Duval County            5
Lake County             4
River County            4
Seminole County         4
Marion County           4
Johns County            4
Martin County           3
Okaloosa County         3
Collier County          3
Escambia County         3
Bay County              2
Okeechobee County       2
Alachua County          2
Manatee County          2
Hernando County         2
Rosa County             2
Citrus County           2
Leon County             2
Putnam County           2
Hendry County           1
Sumter County           1
Wakulla County          1
Clay County             1
Madison County          1
Highlands County        1
Nassau County           1
Monroe County           1
Osceola County          1
Name: count, dtype: int64

In [10]:
south_florida = ['Dade County', 'Monroe County', 'Broward County', 'Beach County',
                 'Lucie County', 'Collier County', 'Hendry County']
central_florida = ['Orange County', 'Lake County', 'Polk County', 'Seminole County',
                   'Osceola County', 'Volusia County', 'Highlands County']
west_florida = ['Lee County', 'Manatee County', 'Sarasota County', 'Hillsborough County',
                'Pasco County', 'Citrus County', 'Hernando County', 'Sumter County', 'Marion County']
north_florida = ['Nassau County', 'Duval County', 'Leon County', 'Brevard County',
                 'Alachua County', 'Martin County', 'Bay County', 'Putnam County',
                 'Madison County', 'Escambia County', 'Wakulla County', 'Rosa County',
                 'Johns County', 'Okaloosa County', 'River County']


def categorize_county(county):
    if county in south_florida:
        return 'South Florida'
    elif county in central_florida:
        return 'Central Florida'
    elif county in west_florida:
        return 'West Florida'
    elif county in north_florida:
        return 'North Florida'
    else:
        return 'Unknown'


df_merge['Region'] = df_merge['Region_y'].apply(categorize_county)

In [11]:
df_merge['Region'] = np.where(df_merge['Region']=='Unknown',df_merge['Region_x'],df_merge['Region'])

In [14]:
df_merge['Region'].value_counts()

Region
South Florida      26612
Central Florida     7524
North Florida       3260
East Florida        1973
West Florida        1781
Unknown               62
Name: count, dtype: int64

In [12]:
df_merge['Region'] = np.where(df_merge['Region']=='Unknown',np.nan,df_merge['Region'])

In [13]:
df_filter = df_merge.drop(['Region_x','Region_y'],axis=1)

In [14]:
df_filter['Is_Franchise'] = df_filter['FranchiseCode'].apply(lambda x: 0 if (x == '00001') or (x == '00000') else 1)

In [17]:
df_filter.columns

Index(['LoanNr_ChkDgt', 'Name', 'City', 'State', 'Zip', 'Bank', 'BankState',
       'NAICS', 'ApprovalDate', 'ApprovalFY', 'Term', 'NoEmp', 'NewExist',
       'CreateJob', 'RetainedJob', 'FranchiseCode', 'UrbanRural', 'RevLineCr',
       'LowDoc', 'ChgOffDate', 'DisbursementDate', 'DisbursementGross',
       'BalanceGross', 'MIS_Status', 'ChgOffPrinGr', 'GrAppv', 'SBA_Appv',
       'Sector', 'Region', 'Is_Franchise'],
      dtype='object')

In [15]:
df_drop = df_filter.drop(['LoanNr_ChkDgt','Name','City','State','Zip','BankState','NAICS','ChgOffDate','BalanceGross','ChgOffPrinGr','FranchiseCode'],axis=1)

In [ ]:
df_drop.columns

Index(['Bank', 'ApprovalDate', 'ApprovalFY', 'Term', 'NoEmp', 'NewExist',
       'CreateJob', 'RetainedJob', 'UrbanRural', 'RevLineCr', 'LowDoc',
       'DisbursementDate', 'DisbursementGross', 'MIS_Status', 'GrAppv',
       'SBA_Appv', 'Sector', 'Region', 'Is_Franchise'],
      dtype='object')

In [16]:
print(df_drop['Bank'].unique().tolist())

['FLORIDA BUS. DEVEL CORP', 'REGIONS BANK', 'CENTENNIAL BANK', 'BANESCO USA', 'CITIBANK, N.A.', 'WELLS FARGO BANK NATL ASSOC', 'THE BANK OF TAMPA', 'PNC BANK, NATIONAL ASSOCIATION', 'SYNOVUS BANK', 'BANCO POPULAR NORTH AMERICA', 'READYCAP LENDING, LLC', 'CALIFORNIA BANK & TRUST', 'BANK OF AMERICA NATL ASSOC', 'SUNTRUST BANK', 'LOANS FROM OLD CLOSED LENDERS', 'JPMORGAN CHASE BANK NATL ASSOC', 'FLORIDA 1ST CAP. FINAN CORPORA', 'STEARNS BK NATL ASSOC', 'BBCN BANK', 'SOUTHERN COMM. BANK NATL ASSOC', 'BANKFIRST', 'NEWTEK SMALL BUS. FINANCE INC.', 'C1 BANK', 'BUSINESS DEVEL CORP OF N.E. FL', 'BUSINESS LOAN CENTER, LLC', 'GE CAP. SMALL BUS. FINAN CORP', 'TD BANK, NATIONAL ASSOCIATION', '1ST UNITED BANK', 'CAPITAL ONE NATL ASSOC', 'BRANCH BK. & TR CO', 'OLD FLORIDA BANK', 'AMER BUS. LENDING INC.', 'CENTERSTATE BK OF FLORIDA NATL', 'HARBOR COMMUNITY BANK', 'INDEPENDENT DEVEL SERVICES COR', 'EVERBANK', 'GULFCOAST BUS. FINANCE INC.', 'FIFTH THIRD BANK', 'CHARLOTTE STATE BANK & TRUST', 'TRUSTMARK NATIONAL BANK', 'CITIBANK INTERNATIONAL', 'AMERIFIRST BANK', 'AMERIS BANK', 'SMALL BUS. LOAN SOURCE LLC', 'BUSINESS LENDERS, LLC', 'ISRAEL DISCOUNT BK OF NEW YORK', 'BMO HARRIS BK NATL ASSOC', 'HELM BANK USA', 'TOTALBANK', 'BANKUNITED, FSB', 'BANKUNITED NATL ASSOC', 'FIRST FEDERAL BANK OF FLORIDA', 'ESSENTIAL CAP. FINANCE INC.', 'EASTERN NATIONAL BANK', 'UPS CAPITAL BUSINESS CREDIT', 'COMPASS BANK', 'MERCHANTS & SOUTHERN BANK', 'BAC FLORIDA BANK', 'ZIONS FIRST NATIONAL BANK', 'COMMUNITY SOUTH BANK', 'TAMPA BAY ECONOMIC DEVEL CORP', 'FIRST NATL BK N.W. FLORIDA', 'AMERICAN NATIONAL BANK', 'MERRILL LYNCH BANK USA', 'FIRST-CITIZENS BK & TR CO', 'THIRD FED. S & L ASSOC OF CLEV', 'TRANSAMERICA SMALL BUS. CAPITA', 'ALABAMA COMMUN DEVEL CORP', 'CAPITAL CITY BANK', nan, 'AURORA BANK FSB', 'IBERIABANK', 'WELLS FARGO INTERNATL BK. CORP', 'INNOVATIVE BANK', 'FDIC/OCEANMARK BANK', 'FARMERS & MERCHANTS BANK', 'OCEAN BANK', 'FDIC/RECEIVER- HAMILTON BANK N', 'FEDERAL DEPOSIT INSUR CORP', 'FIDELITY BK OF FLORIDA NATL AS', 'BUSEY BANK', 'BANK OF THE OZARKS', 'WACHOVIA SBA LENDING, INC.', 'HERITAGE BANK', 'AMER ENTER. BK OF FLORIDA', 'COMERICA BANK', 'FIRST WESTERN SBLC, INC', 'SOUTHEAST SDIC INC', 'SOUTHERN DEVELOPMENT COUNCIL', 'CONTINENTAL NATIONAL BANK', 'CITIZENS BANK NATL ASSOC', 'METRO BANK OF DADE COUNTY', 'CITIZENS BANK', 'HSBC BK USA NATL ASSOC', 'COLUMBIA BANK', 'STONEGATE BANK', 'FLORENCE SAVINGS BANK', 'BANCO POPULAR DE PUERTO RICO', 'FIRSTMERIT BANK, N.A.', 'SEACOAST NATIONAL BANK', 'NORTH CENT. FLORIDA AREAWIDE D', 'CAPITAL BANK NATL ASSOC', 'ONEUNITED BANK', 'FNBT.COM BANK', 'INTERCREDIT BANK, N.A.', 'WHITNEY BANK', 'FDIC/OCO 3901', 'CADENCE BANK NATL ASSOC', 'CBC NATIONAL BANK', 'NATIONAL CITY BANK', 'FIRST FINAN BANK NATL ASSOC', 'THE HUNTINGTON NATIONAL BANK', 'TELESIS COMMUNITY CU', 'TERRABANK NATL ASSOC', 'SABADELL UNITED BANK NATL ASSO', 'COCONUT GROVE BANK', 'PILOT BANK', 'INDEPENDENCE BANK', 'UMPQUA BANK', 'SUN AMERICAN BANK', 'FLORIDA COMMUN BANK NATL ASSOC', 'M&I, A BRANCH OF', 'COMMUNITY W. BANK NATL ASSOC', 'FIRST NIAGARA BANK NATL ASSOC', 'BANCO POPULAR NATL ASSOC', 'NORTHEAST BANK', 'HANCOCK BANK OF FLORIDA', 'FIRST TENNESSEE BANK NATL ASSO', 'BANK OF THE WEST', 'FIRST NATIONAL BANK OF PASCO', 'SURREY BANK & TRUST', 'CITY NATIONAL BANK OF FLORIDA', 'ENGLEWOOD BANK & TRUST', 'FLORIDA BUSINESS BANK', 'SMALL BUSINESS ADMINSITRATION', 'FULTON BANK NATL ASSOC', 'FIDELITY BANK', 'FIRSTBANK PUERTO RICO', 'CENTERBANK OF JACKSONVILLE N.A', 'SOUTHEAST NATIONAL BANK', 'THE JACKSONVILLE BANK', 'PACIFIC WESTERN BANK', 'AMERICA FIRST FCU', 'COLONIAL BANK NATL ASSOC', 'INTERNATIONAL FINANCE BANK', 'STATE BANK AND TRUST COMPANY', 'U.S. BANK NATIONAL ASSOCIATION', 'LEHMAN BROTHERS BANK, FSB', 'FIRST COAST COMMUNITY BANK', 'TAMPA BAY FCU', 'COHUTTA BK. COMPANY A DIVISION', 'CITICAPITAL SMALL BUS. FINANCE', 'FIRST BANK', 'FAIRWINDS CU', 'FIRST AMERICAN BANK', 'MOUNTAIN AMERICA FCU', 'TEXTRON BUSINESS CREDIT, INC.', 'FLORIDA CAP. BANK NATL ASSOC', 'FDIC OCO 3901', 'KEYBANK NATIONAL ASSOCIATION', 'FLAGLER BANK', 'BEACH COMMUNITY BANK', 'THE NORTHERN TRUST COMPANY', 'COMMUNITY NATIONAL BANK', 'LIBERTY BANK', 'WEST BANK', 'FIRST FLORIDA BANK', 'FLORIDA CITIZENS BANK', 'ESPIRITO SANTO BANK', 'FDIC/TUCKER STATE BANK', 'FDIC/BONHAM-DARTMOUTH', 'MERCANTIL COMMERCEBANK NATL AS', 'GROW AMERICA FUND INC', 'BERKSHIRE BANK', 'SUPERIOR FINANCIAL GROUP, LLC', 'FIRST BANK AND TRUST', 'COMMUNITY BANK OF FLORIDA', 'WILSHIRE BANK', 'NATIONAL LOAN INVESTORS, L.P.', 'BANK LEUMI USA', 'EAST WEST BANK', 'BEAL BANK, S.S.B.', 'UNITED BANK', 'AMRESCO SBA HOLDINGS, INC.', 'CAPITAL ONE BK (USA) NATL ASSO', 'BANCFIRST', 'WESTCONSIN CU', 'ORIENTAL BANK', 'MASCOMA SAVINGS BANK', 'UNITY BANK', 'MILLENNIUM BCPBANK, N.A.', 'MANUFACTURERS & TRADERS TR CO', 'ORLANDO NEIGHBORHOOD IMPROVEME', 'NCB, FSB', 'DESERET FIRST FCU', 'BEAL BANK, SSB', 'SOUTHEASTERN BANK', 'THOMASVILLE NATIONAL BANK', 'BANNER BANK', 'HAVEN TRUST BANK FLORIDA', 'CONTINENTAL BANK', 'FIRST SOUTHERN BANK', '1ST NATL BK OF SO. MIAMI', 'RIDGESTONE BANK', 'HOME LOAN INVEST BANK F.S.B.', 'FDIC-SKYLINE NATIONAL BANK', 'PIONEER COMMUNITY BANK, INC.', 'THE SOUTH FINANCIAL GROUP', 'WACHOVIA BANK NATL ASSOC', 'HOME SAVINGS & LOAN CO OF YOU', 'POPULAR COMMUN BANK A DIVISION', 'CELTIC BANK CORPORATION', 'HANCOCK BANK', 'WEBBANK', 'INVESTORS BANK', 'OAKLAND CNTY BUS. FINAN CORP', 'PEOPLES NATIONAL BANK', 'PINNACLE BANK', 'LOAN ACCEPTANCE CORPORATION', 'INSOUTH BANK', 'FIRST COMMUNITY BANK', 'LIVE OAK BANKING COMPANY', 'FIRST FARMERS BANK AND TRUST', 'FIFTH THIRD BANCORP', 'GREATER MOBILE DEVEL CORP', 'WILMINGTON TRUST COMPANY', 'BANC OF CALIFORNIA NATL ASSOC', 'REGENT BANK', 'LANGLEY CORP', 'DRUMMOND COMMUNITY BANK', 'DESJARDINS BANK NATL ASSOC', 'HIGH TRUST BANK', 'OMNI NATIONAL BANK', 'RANDOLPH-BROOKS FCU', 'FIRST NATL BK - NASSAU CNTY', 'PEOPLES NATL BANK NATL ASSOC', 'SUNSTATE BANK', 'CHARTERBANK', 'RESOLUTION TRUST CORPORATION', 'CALUSA BANK', 'MARINE BANK & TRUST COMPANY', 'GUARANTY BANK', 'BANK OF NEW HAMPSHIRE', 'RTC BAY SAVINGS BANK', 'MUTUAL OF OMAHA BANK', 'NAVY FCU', 'PEOPLESSOUTH BANK', 'NBT BANK, NATIONAL ASSOCIATION', 'LIBERTY BANK, FSB', 'ALARION BANK', 'EXECUTIVE NATIONAL BANK', 'BREMER BANK NATL ASSOC', 'NATIONSBANC MORTGAGE CORP', 'CERTUSBANK NATL ASSOC', 'CNLBANK', 'NORTHWEST SAVINGS BANK', 'SELF-HELP VENTURES FUND', 'HOMEBANC NATIONAL ASSOCIATION', 'COMMUNITY BANK OF BROWARD', 'HIGHLANDS INDEPENDENT BANK', 'FDIC/550', 'MCCOY FCU', 'CENTRAL BANK', 'UNITED CENTRAL BANK', 'ASSOCIATED BANK NATL ASSOC', 'BAY CITIES BANK', 'HAPPY STATE BANK', 'THE BANK OF COMMERCE', 'LIBERTY SAVINGS BANK, F.S.B.', 'FLORIDA BANK OF COMMERCE', 'SPIRIT OF TEXAS BANK, SSB', 'VISION ONE CU', 'EH NATIONAL BANK', 'ST. BK & TR CO', 'PATRIOT BANK', 'TUCSON FCU', 'TRANSATLANTIC BANK', 'GOVERNMENT DEVEL BK FOR PUERTO', 'WISCONSIN BANK & TRUST', 'FIRSTATLANTIC BANK', 'VECTRA BK COLORADO NATL ASSOC', 'INDUS AMERICAN BANK', 'SABAL PALM BANK', 'SUMMIT BANK NATL ASSOC', 'GULF COAST BK & TR CO', 'SUNCOAST CU', 'CORNHUSKER BANK', 'COMVEST EXPORT FINAN COMPANY I', 'LANDMARK BANK OF FLORIDA', 'NOA BANK', 'PROFESSIONAL BANK', 'MIDFLORIDA CU', 'GULFSHORE BANK', 'UMB BANK, NATIONAL ASSOCIATION', 'U.S. CENTURY BANK', 'BROOKLYN COOPERATIVE FCU', 'UNITED MIDWEST SAVINGS BANK', 'FIRST CHATHAM BANK', 'TEXTRON FINANCIAL CORP', 'FIRST INTERCONTINENTAL BANK', 'SILVERTON BRIDGE BANK NATL ASS', 'FIRST AMERICA BANK', 'SEASIDE NATIONAL BANK & TRUST', 'COMMUNITY BANK, COAST', 'SANTANDER BANK NATL ASSOC', 'THE OCULINA BANK', 'LOAN SOURCE INCORPORATED', 'SYNOVUS TR COMPANY NATL ASSOC', 'MAGNA BANK', 'BARCLAYS BANK PLC', 'FDIC/JEFFERSON NATIONAL BANK', 'ATLANTIC COAST BANK', 'WACHOVIA BANK, A DIVISION OF', 'COASTAL AREA DISTRICT DEVEL AU', 'NEW VENTURES CAP. DEVEL CO', 'MIDWESTONE BANK', 'FIRST NATL BK OF WAUCHULA', 'REPUBLIC BANK & TRUST COMPANY', 'THE BANCORP BANK', 'USAMERIBANK', 'FIRST ST. BK OF FLORIDA KEYS', 'FIRST COMM. BK - FLORIDA', 'FLORIDA CU', 'FLAGSHIP COMMUNITY BANK', 'BANCO DE LA PROVINCIA DE BUENO', 'SECURITY BANK NATL ASSOC', 'INSIGNIA BANK', 'EASTWOOD BANK', 'INTERAMERICAN BANK, FSB', 'NEWBANK', 'SEA ISLAND BANK, A DIVISION OF', 'PARADISE BANK', 'COMMERCIAL BANK, A DIVISION OF', 'PREMIER AMER BANK NATL ASSOC', 'COMMERCE BANK', 'WASHINGTONFIRST BANK', 'CITY BANK OF HARTFORD', 'ACHIEVA CU', 'COMMUNITY CAP. DEVEL CORP', 'FIRST HOME BANK', 'GEORGIA BANKING COMPANY', '1ST NATL BK OF MT DORA', 'COMMUNITY FIRST NATIONAL BANK', 'VST FINANCIAL SERVICES, INC', 'PREMIER BANK', 'LANDMARK BANK NATL ASSOC', 'EVOLVE BANK & TRUST', 'THE PARK NATIONAL BANK', 'REPUBLIC 1ST BK D/B/A REP. BK', 'COASTAL BK & TR - FLORIDA', 'SUNWEST BANK', 'THE BANK OF NORTHERN MICHIGAN', 'AMER EXPRESS CENTURION BK', 'PROSPERITY BANK', 'NATL CONSUMER COOPERATIVE BK', 'PEOPLES STATE BANK', 'SOUTHERN BANK OF TENNESSEE', 'CHOICE FINANCIAL GROUP', 'NBSC, A DIVISION OF', 'CAMPUS USA CU', 'VALLEY NATIONAL BANK', 'FLORIDIAN COMMUNITY BANK', 'CORNERSTONEBANK', 'BANK OF ALBUQUERQUE A DIVISION', 'BANK OF WESTERN MASSACHUSETTS', 'SPACE COAST CU', 'GTE FCU D/B/A GTE FINANCIAL', 'DOUGLAS NATIONAL BANK', 'BANKSOUTH', '1ST NATL BK OF SO. FLORIDA', 'HAWTHORN BANK', 'BUSINESS LOAN CENTER LLC (POST', 'BANK OF FRANKLIN', 'BANK OF NO. GEORGIA A DIVISION', 'BANK - AMERICA NATL ASSOC', 'PUTNAM STATE BANK', 'CDC SMALL BUS. FINAN CORP', 'COMMUNITY BANK OF SNYDER', 'WASHINGTON TR CO OF WESTERLY', 'FIRST NATIONAL BANK SOUTH', 'URBAN TRUST BANK', 'NORTHWEST SMALL BUS. FINAN COR', 'FIRST A NATL BK. ASSOC', 'THE LEGACY BANK, A DIVISION OF', 'AMERASIA BANK', 'HAVEN TRUST BANK', 'COUNTRY FCU', 'OCEAN BANK, A DIVISION OF', 'HEARTLAND BANK', 'MAIN STREET LENDER, LLC', 'MAINSTREET LENDER 7(A), LLC']

In [17]:
def categorize_bank(name):
    name = str(name).upper()
    if re.search(r'\bBANK\b', name):
        return "Commercial Bank"

    elif re.search(r'\b(CU|CREDIT UNION|CREDIT|SAVINGS|LOAN|MEMBERSHIP)\b', name):
        return "Credit Union"

    elif re.search(r'\b(INTERNATIONAL|GLOBAL|OVERSEAS|WORLD)\b', name):
        return "International"


    elif re.search(r'\b(CAPITAL|FINANCE|INVESTMENT|SECURITIES|CORPORATION|GROUP)\b', name):
        return "Capital/Finance Institution"


    elif re.search(r'\b(DEVELOPMENT|BUSINESS|SBA|SMALL BUSINESS|ENTERPRISE)\b', name):
        return "Development Institution"


    else:
        return "Other"


df_drop['Category_bank'] = df_drop['Bank'].apply(categorize_bank)

In [ ]:
df_drop['Category_bank'].value_counts()

Category_bank
Commercial Bank                27507
Other                           9903
Capital/Finance Institution     2437
Credit Union                     877
Development Institution          470
International                     18
Name: count, dtype: int64

In [18]:
df_drop_bank = df_drop.drop(['Bank'],axis=1)

In [19]:
def get_group(number):
    groups = {
        1: "Agriculture, forestry, fishing and hunting",
        2: "Natural Resources and Energy",
        3: "Manufacturing",
        4: "Construction and Infrastructure",
        5: "Transportation and Logistics",
        6: "Information and Communication",
        7: "Finance and Insurance",
        8: "Professional and Scientific Services",
        9: "Public Services and Health",
        10: "Culture, Leisure, and Restaurants"
    }

    number = int(number)
    if number == 11:
        return groups[1]
    elif number == 21 or number == 22:
        return groups[2]
    elif 31 <= number <= 33:
        return groups[3]
    elif number == 23 or number == 42 or (44 <= number <= 45):
        return groups[4]
    elif 48 <= number <= 49:
        return groups[5]
    elif number == 51:
        return groups[6]
    elif number == 52:
        return groups[7]
    elif number == 53 or number == 54 or number == 55:
        return groups[8]
    elif number == 56 or number == 61 or number == 62 or number == 92:
        return groups[9]
    elif number == 71 or number == 72 or number == 81:
        return groups[10]
    else:
        return np.nan

df_drop_bank['Sector_group'] = df_drop_bank['Sector'].apply(get_group)

In [23]:
df_drop_bank['Sector_group'].value_counts()

Sector_group
Construction and Infrastructure               11783
Culture, Leisure, and Restaurants              6751
Public Services and Health                     5978
Professional and Scientific Services           4555
Manufacturing                                  3011
Transportation and Logistics                   1167
Finance and Insurance                           667
Information and Communication                   546
Agriculture, forestry, fishing and hunting       91
Natural Resources and Energy                     47
Name: count, dtype: int64

In [20]:
df_flat=df_drop_bank.copy()

In [24]:
df_flat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41212 entries, 0 to 41211
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ApprovalDate       41212 non-null  object
 1   ApprovalFY         41212 non-null  int64
 2   Term               41212 non-null  int64
 3   NoEmp              41212 non-null  int64
 4   NewExist           41207 non-null  float64
 5   CreateJob          41212 non-null  int64
 6   RetainedJob        41212 non-null  int64
 7   UrbanRural         41212 non-null  int64
 8   RevLineCr          41027 non-null  object
 9   LowDoc             41078 non-null  object
 10  DisbursementDate   41060 non-null  object
 11  DisbursementGross  41212 non-null  object
 12  MIS_Status         41192 non-null  object
 13  GrAppv             41212 non-null  object
 14  SBA_Appv           41212 non-null  object
 15  Sector             41212 non-null  object
 16  Region             41150 non-null  object
 17  Is_Franchise       41212 non-null  int64
 18  Category_bank      41212 non-null  object
 19  Sector_group       34596 non-null  object
dtypes: float64(1), int64(7), object(12)
memory usage: 6.3+ MB

In [21]:
df_flat['Date_apv'] = pd.to_datetime(df_flat['ApprovalDate'])
df_flat['Date_disb'] = pd.to_datetime(df_flat['DisbursementDate'])
df_flat['Month_apv'] = pd.to_datetime(df_flat['ApprovalDate']).dt.month
df_flat['Day_apv'] = pd.to_datetime(df_flat['ApprovalDate']).dt.day
df_flat['Diff_days'] = (df_flat['Date_disb'] - df_flat['Date_apv']).dt.days
df_flat['SBA_Appv'] = df_flat['SBA_Appv'].replace(r'[$,]','',regex=True).astype(float)
df_flat['GrAppv'] = df_flat['GrAppv'].replace(r'[$,]','',regex=True).astype(float)
df_flat['DisbursementGross'] = df_flat['DisbursementGross'].replace(r'[$,]','',regex=True).astype(float)

In [22]:
df_flat = df_flat.drop(['ApprovalDate','Date_disb','DisbursementDate','Date_apv'],axis=1)

In [27]:
df_flat.columns

Index(['ApprovalFY', 'Term', 'NoEmp', 'NewExist', 'CreateJob', 'RetainedJob',
       'UrbanRural', 'RevLineCr', 'LowDoc', 'DisbursementGross', 'MIS_Status',
       'GrAppv', 'SBA_Appv', 'Sector', 'Region', 'Is_Franchise',
       'Category_bank', 'Sector_group', 'Date_apv', 'Month_apv', 'Day_apv',
       'Diff_days'],
      dtype='object')

In [24]:
df_flat.to_pickle("sba_loans_flat_pkl")